{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="py-20 md:my-20 mb-20">
        <div class="grid h-16 place-items-center mb-28">
            <h1>Forgotten your password?</h1>
		<p>Enter your e-mail address to obtain a new password.</p>
		<form method="post">
		    {{ form.as_p }}
            <p><input class="mt-2 p-4 border rounded-lg cursor-pointer text-white bg-green-900 hover:bg-blue-600" type="submit" value="send e-mail"></P>
			{% csrf_token %}
		</form>
        </div>
    </div>
{% endblock %}